@CHARSET "UTF-8";
body{
	font-family:"Microsoft Yahei";
	font-size:20px;	
}

#nav ul{
	width:980px;
	border:1px solid #000;
	margin:0px auto 0px auto;
}

#nav ul li{
	list-style-type:none;   /*去掉li前面的点   .......*/
	float:left; /*这样，li就变成了联级元素了，没有宽和高了*/
}


#nav ul li a{
	width:80px;
	height:28px;
	line-height:28px;/*设置行距*/
	background:red;
	color:#FFF;		/*文字颜色是白色*/
	margin:5px 10px;
	font-size:12px;
	display:block;	/*把a变成块级元素，那么尺寸信息才能生效*/
	text-align:center;/*让文本居中*/
	text-decoration:none;/*去掉下划线*/
}

#nav ul li a:hover{
	/*当鼠标放在a上时执行的操作*/
	border:1px red solid;
	width:78px;
	background:#DDD;
}